@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --cor-primaria: #009879;
    --inter: 'Inter', sans-serif;
}

$cor-primaria: var(--cor-primaria);
$inter: var(--inter);
