.loginPage{
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;

    >.CardLogin{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
}
